<% provide(:title, 'Drop') %>
<% provide(:complement, 'It') %>
<% if current_user %>
  <% provide(:action_right) do %>
    <%= link_to  '+', new_post_path %>
  <% end %>
<% end %>
<% provide(:action_left) do %>
  <%= link_to '⌂', dashboard_index_path %>
<% end %>
<% if @posts.any? %>
  <div id="posts_slider" class="carousel slide card" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#posts_slider" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#posts_slider" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#posts_slider" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <% @posts.each_with_index do |post, index| %>
        <%= render('post_carousel_item', {post: post, index: index} ) %>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#posts_slider" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#posts_slider" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<% end %>
<section class="blogTiles">
  <div class="container">
    <div class="">
      <div class="row">
        <%= render @posts %>
        <div class="col-sm-4 col-md-3">
          <div class="tileLast">
            <span>“Always pass on what you have learned.”</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
