// Variables

$white: #fff;
$gray: #333;
$black: #000;
$accent: #f66;

$commonBorderRadius: 4px;

@import "actiontext";
@import "static_pages";

nav.navbar {
  padding: 1em 2em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  .title {
    text-align: center;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 44px;
    margin-top: 70px;
    span {
      color: $accent;
      font-weight: bold;
    }
  }

  .action-right {
    position: absolute;
    right: 0;
  }

  .action-left {
    position: absolute;
    left: 0;
  }

  a,
  button {
    text-decoration: none;
    background-color: transparent;
    color: $accent;
    font-size: 90px;
    border: 2px solid $white;
    border-radius: 4px;
  }
}

form {
  display: flex;
  flex-direction: column;

  .field {
    margin: 10px;
    display: flex;
    flex-direction: column;
    label {
      font-weight: bold;
    }
  }

  .checkbox {
    flex-direction: row;
    align-items: center;
    label {
      margin-left: 8px;
    }
  }

  input[type="submit"]:not(.reset) {
    color: $white;
    border: 0;
    padding: 10px 15px;
    background-color: $accent;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 8px;

  a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }
}
.card {
  padding: 10px;
  border: 1px solid black;
  margin: auto;
  width: 100%;
  max-width: 600px;
  h1,
  h2,
  h3,
  h4 {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
  }
  blockquote {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: darkgrey;
    padding-left: 15px;
    padding-right: 15px;
  }
  p {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sized-box {
  width: 100%;
  height: 100px;
}

.mt {
  margin-top: 2em;
}

.margin-remove {
  margin: 0;
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.space-around-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.space-between-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
